.Canvas {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.Background_DIV {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

.previewCanvas {
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
}

